/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
 }

 .bl-grid-container {
     display: flex;
 }
 
 .bl-grid-cell.content {
     flex: auto;
 }

 .mat-form-field.bl-resizable .mat-form-field-infix {
     width: unset;
 }

 textarea.mat-input-element.bl-resizable {
     resize: both;
 }