<mat-accordion multi>
    <mat-expansion-panel *ngFor="let unitsCategory of categoryClassification">
        <mat-expansion-panel-header>
            <mat-panel-title>{{unitsCategory.category}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let unit of unitsCategory.units">
                <div class="description">
                    {{ unit.type }} - {{ unit.cost }}pts
                </div>
                <button mat-icon-button (click)="addUnit(unit)" aria-label="Add the unit to the roster">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>