

<mat-drawer-container hasBackdrop="false">
    <mat-drawer mode="side" position="start" #catalogue>
        <bl-catalogue-tree></bl-catalogue-tree>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button (click)="catalogue.toggle()">Show Catalogue</button>
        <button mat-raised-button (click)="detail.toggle()">Show Detail</button>
        <bl-unit-list></bl-unit-list>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" #detail>
        Detail of the selected unit
    </mat-drawer>
</mat-drawer-container>

